.header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  @media (max-width: 779px) {
    flex-direction: column;
  }
  .logo {
    font-weight: 700;
    font-size: 34px;
    color: #0a192f;
    span {
      color: #9040bb;
    }
  }
  .headerRight {
    display: flex;
    align-items: center;
    @media (max-width: 420px) {
      flex-direction: column;
      justify-content: center;
    }
    .nav {
      margin-right: 30px;
      @media (max-width: 420px) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      .menuItem,
      .menuItemActive {
        margin-left: 25px;
        a {
          display: block;
          color: #0a192f;
          font-weight: 600;
          font-size: 16px;
          opacity: 0.7;
        }
        &:first-child {
          margin-left: 0;
        }
      }
      .menuItemActive {
        a {
          opacity: 1 !important;
        }
      }
    }
  }
  .toggleMode {
    height: 30px;
    input {
      width: 55px;
      height: 25px;
      background: #111;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 15px;
      cursor: pointer;

      &:checked {
        background: #fff;
      }
      &::after {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #ffbe76;
        transform: translate(5px, 5px);
        transition: 0.2s linear;
      }
      &:checked::after {
        inset: unset;
        background: transparent;
        box-shadow: 5px 5px 0 #353b48;
        transform: translate(calc(55px - 25px), -1px);
      }
    }
  }
}
