.notes,
.categories {
  a {
    min-height: 180px !important;
    .postsItemPoster {
      display: none;
    }
  }
}

.posts,
.notes,
.categories {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  a {
    display: block;
    position: relative;
    width: 47.5%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.2s ease;
    min-height: 400px;

    .mainColor {
      display: block;
      margin-top: -30px;
      position: absolute;
      background: none;
      width: 100%;
      height: 20px;
      transition: all 0.2s ease;
      opacity: 0;
      // top: 52%;
      z-index: 5;
    }
    &:hover {
      transform: translateY(-5px);
      .mainColor {
        opacity: 1 !important;
      }
    }
    .postsItemPoster {
      position: relative;
      width: 100%;
      height: 260px;
      z-index: 10;
      > div {
        display: block !important;
      }
      img {
        display: block;
        width: 100% !important;
        height: 260px !important;
        object-fit: cover;
      }
    }
    .postsItemInfo {
      padding: 25px;
      border-bottom: 1px solid #f4f3f3;
      border-left: 1px solid #f4f3f3;
      border-right: 1px solid #f4f3f3;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .postsItemCategory {
      display: flex;
      align-items: center;
      span {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin-right: 7px;
      }
      p {
        font-size: 16px;
      }
    }
    .postsItemName {
      margin: 7px 0;
      font-size: 27px;
    }
    .postsItemDescr {
      font-size: 16px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
