.post {
  .postInfo {
    display: flex;
    margin-top: 8px;
    margin-bottom: 15px;
    align-items: center;
    @media (max-width: 520px) {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
    .postCategory {
      display: inline-flex;
      align-items: center;
      margin-right: 20px;
      color: #afafaf;
      &:hover {
        text-decoration: underline !important;
      }
      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #afafaf;
        border-radius: 100%;
        margin-right: 7px;
      }
      p {
        font-size: 16px;
        color: #afafaf;
      }
    }
    .postDate {
      @media (max-width: 520px) {
        margin-top: 8px;
      }
      p {
        color: #afafaf;
      }
    }
  }
}
