.post {
  background-color: #fff;
  padding: 60px;
  border-radius: 20px;
  h2 {
    font-size: 42px;
    line-height: 1.7;
    font-weight: 700;
  }
  pre[class*='language-'] {
    height: 600px;
  }
  .postContent {
    font-size: 20px;
    line-height: 1.7;
    a {
      color: #ffbe76;
      &:hover {
        text-decoration: underline !important;
      }
    }
    img {
      width: 100%;
    }
  }
  .postInfo {
    display: flex;
    margin-top: 8px;
    margin-bottom: 15px;
    align-items: center;
    .postCategory {
      display: inline-flex;
      align-items: center;
      margin-right: 20px;
      color: #afafaf;
      &:hover {
        text-decoration: underline !important;
      }
      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #afafaf;
        border-radius: 100%;
        margin-right: 7px;
      }
      p {
        font-size: 16px;
        color: #afafaf;
      }
    }
    .postDate {
      p {
        color: #afafaf;
      }
    }
  }
}
