html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f7f8f8;
  &.dark {
    background-color: #0e141b;
    div[class*='footer_footerBottom__'] {
      span {
        color: #fff !important;
      }
    }
    .github {
      svg {
        path {
          fill: #fff !important;
        }
      }
    }
    .quote {
      color: #fff;
    }
    a[class*='header_logo__'] {
      color: #fff;
    }
    li[class*='header_menuItem__'] {
      a {
        color: #f0f4f9 !important;
      }
    }
    li[class*='header_menuItemActive__'] {
      a {
        color: #f0f4f9 !important;
      }
    }
    div[class*='posts_posts__'] {
      a {
        border: none;
        background-color: #192028;
      }
    }
    div[class*='posts_categories__'] {
      a {
        border: none;
        background-color: #192028;
      }
    }
    div[class*='posts_postsItemInfo__'] {
      color: #f0f4f9;
    }
    footer[class*='footer_footer__'] {
      border-color: #192028;
    }
    div[class*='about_about__'] {
      background-color: #192028;
      color: #fff;
    }
    .box-content {
      h2 {
        color: #fff;
      }
    }
    .box {
      color: #fff;
    }
    .box {
      background-color: #192028;
    }
    div[class*='posts_postsItemInfo__'] {
      border: none;
    }
    div[class*='posts_notes__'] {
      a {
        border: none;
        background-color: #192028;
      }
    }
    .gt-container {
      button {
        &:last-child {
          color: #fff !important;
        }
      }
      .gt-comment-admin .gt-comment-content {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

.quote {
  width: 50%;
  margin-bottom: 50px;
  @media (max-width: 779px) {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }
  @media (max-width: 580px) {
    width: 100%;
  }
  p {
    font-weight: 600;
    font-size: 16px;
    q {
      font-weight: 400;
      font-style: italic;
    }
  }
}

.gt-container {
  textarea {
    font-family: 'Inter', sans-serif;
  }
  button {
    font-family: 'Inter', sans-serif;
    background-color: #9040bb !important;
    border: 2px solid #9040bb !important;
    color: #000 !important;
    &:last-child {
      background-color: transparent !important;
    }
  }
  a {
    color: #9040bb !important;
  }
  .gt-ico-text {
    color: #9040bb;
  }
  .gt-svg svg {
    fill: #9040bb !important;
  }
  .gt-comment-username {
    color: #9040bb !important;
  }
}

.box {
  background-color: #fff;
  padding: 60px;
  border-radius: 15px;
  @media (max-width: 520px) {
    padding: 25px;
  }
  h2 {
    font-size: 39px;
    line-height: 1.2;
    font-weight: 700;
    @media (max-width: 550px) {
      font-size: 35px;
    }
  }
  h3 {
    font-size: 26px;
    line-height: 1.2;
  }
  pre[class*='language-'] {
    height: 600px;
  }
  &-content {
    font-size: 20px;
    line-height: 1.7;
    @media (max-width: 550px) {
      font-size: 16px;
      line-height: 1.5;
    }
    a {
      color: #9040bb;
      &:hover {
        text-decoration: underline !important;
      }
    }
    img {
      width: 100%;
    }
    strong {
      background: rgba($color: #9040bb, $alpha: 0.2);
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 500;
      @media (max-width: 550px) {
        padding: 3px 7px;
      }
    }
  }
}

.main-list__item {
  position: relative;
  padding-left: 30px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #9040bb;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  .github {
    svg {
      path {
        fill: #1a1e22 !important;
      }
    }
  }
  .telega {
    svg {
      path {
        fill: #27a7e8 !important;
      }
    }
  }
  .twitter {
    svg {
      path {
        fill: #3fa6da !important;
      }
    }
  }
  .mail {
    svg {
      path {
        fill: #005cf1 !important;
      }
    }
  }
  .youtube {
    svg {
      path {
        fill: #f60000 !important;
      }
    }
  }
}

#__next {
  height: 100%;
}

.container {
  max-width: 965px;
  padding: 0 13px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  margin-top: 40px;
}

* {
  box-sizing: border-box;
  &::selection {
    background-color: #9040bb;
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// --darkbg:#251D29;
//   --darkt: #FFD1F7;
//   --lightbg: #fff;
//   --lightt: #D43370;

//   --toggleHeight: 16em;
//   --toggleWidth: 30em;
//   --toggleBtnRadius: 10em;

//   --bgColor--night: #423966;
//   --toggleBtn-bgColor--night: var(--bgColor--night);
//   --mooncolor: #D9FBFF;
//   --bgColor--day: #9ee3fb;
//   --toggleBtn-bgColor--day: var(--bgColor--day);
// }

.light {
  background: #fff;
  color: #d43370;
}
.tdnn {
  margin: 0 auto;
  font-size: 12%;
  position: relative;
  height: 16em;
  width: 30em;
  border-radius: 16em;
  transition: all 500ms ease-in-out;
  background: #423966;
  border: none;
  cursor: pointer;

  &--day {
    background: #ffbf71;
  }
}

.moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;

  top: 3em;
  left: 3em;
  transform: rotate(-75deg);
  width: 10em;
  height: 10em;
  background: #423966;
  box-shadow: 3em 2.5em 0 0em #d9fbff inset, rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em, rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
    rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em, rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em, rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
.sun {
  top: 4.5em;
  left: 18em;
  transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background: #fff;
  box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff, 3.5em -3.5em 0 -3em #fff,
    5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff, 0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff,
    -5em 0 0 -2.7em #fff, -3.5em -3.5em 0 -3em #fff;
}

.link {
  color: #9040bb;
  font-size: 16px;

  &--big {
    font-size: 20px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 15px;

  a {
    width: 30px;
    height: 30px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
