html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #f7f8f8;
  &.dark {
    background-color: #0e141b;
    .github:hover {
      svg {
        path {
          fill: #fff !important;
        }
      }
    }
    .quote {
      color: #fff;
    }
    a[class*='header_logo__'] {
      color: #fff;
    }
    li[class*='header_menuItem__'] {
      a {
        color: #f0f4f9 !important;
      }
    }
    li[class*='header_menuItemActive__'] {
      a {
        color: #f0f4f9 !important;
      }
    }
    div[class*='posts_posts__'] {
      a {
        border: none;
        background-color: #192028;
      }
    }
    div[class*='posts_categories__'] {
      a {
        border: none;
        background-color: #192028;
      }
    }
    div[class*='posts_postsItemInfo__'] {
      color: #f0f4f9;
    }
    footer[class*='footer_footer__'] {
      border-color: #192028;
    }
    div[class*='about_about__'] {
      background-color: #192028;
      color: #fff;
    }
    .box-content {
      h2 {
        color: #fff;
      }
    }
    .box {
      color: #fff;
    }
    .box {
      background-color: #192028;
    }
    div[class*='posts_postsItemInfo__'] {
      border: none;
    }
    div[class*='posts_notes__'] {
      a {
        border: none;
        background-color: #192028;
      }
    }
    .gt-container {
      button {
        &:last-child {
          color: #fff !important;
        }
      }
      .gt-comment-admin .gt-comment-content {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

.quote {
  width: 50%;
  margin-bottom: 50px;
  @media (max-width: 779px) {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }
  @media (max-width: 580px) {
    width: 100%;
  }
  p {
    font-weight: 600;
    font-size: 16px;
    q {
      font-weight: 400;
      font-style: italic;
    }
  }
}

.gt-container {
  textarea {
    font-family: 'Rubik', sans-serif;
  }
  button {
    font-family: 'Rubik', sans-serif;
    background-color: #ffbe76 !important;
    border: 2px solid #ffbe76 !important;
    color: #000 !important;
    &:last-child {
      background-color: transparent !important;
    }
  }
  a {
    color: #ffbe76 !important;
  }
  .gt-ico-text {
    color: #ffbe76;
  }
  .gt-svg svg {
    fill: #ffbe76 !important;
  }
  .gt-comment-username {
    color: #ffbe76 !important;
  }
}

.box {
  background-color: #fff;
  padding: 60px;
  border-radius: 5px;
  @media (max-width: 520px) {
    padding: 25px;
  }
  h2 {
    font-size: 39px;
    line-height: 1.2;
    font-weight: 700;
    @media (max-width: 550px) {
      font-size: 35px;
    }
  }
  h3 {
    font-size: 26px;
    line-height: 1.2;
  }
  pre[class*='language-'] {
    height: 600px;
  }
  &-content {
    font-size: 20px;
    line-height: 1.7;
    @media (max-width: 550px) {
      font-size: 16px;
      line-height: 1.5;
    }
    a {
      color: #ffbe76;
      &:hover {
        text-decoration: underline !important;
      }
    }
    img {
      width: 100%;
    }
    strong {
      background: rgba($color: #ffbe76, $alpha: 0.2);
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 500;
      @media (max-width: 550px) {
        padding: 3px 7px;
      }
    }
  }
}

.main-list__item {
  position: relative;
  padding-left: 30px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ffbe76;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  .github:hover {
    svg {
      path {
        fill: #1a1e22 !important;
      }
    }
  }
  .telega:hover {
    svg {
      path {
        fill: #27a7e8 !important;
      }
    }
  }
  .twitter:hover {
    svg {
      path {
        fill: #3fa6da !important;
      }
    }
  }
  .mail:hover {
    svg {
      path {
        fill: #005cf1 !important;
      }
    }
  }
  .youtube:hover {
    svg {
      path {
        fill: #f60000 !important;
      }
    }
  }
}

#__next {
  height: 100%;
}

.container {
  max-width: 795px;
  padding: 0 13px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

* {
  box-sizing: border-box;
  &::selection {
    background-color: #ffbe76;
    color: #000;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
